* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: darkcyan;
  background-color: rgb(225, 225, 225);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
}

body p {
  color: black;
}

header {
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70px;
}
header a {
  text-decoration: none;
  color: darkcyan;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
}
header h1 {
  font-weight: 50px;
  font-size: xx-large;
  color: darkcyan;
  margin: 10px 10px 10px 79px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header nav {
  display: flex;
  align-items: center;
  list-style: none;
}
nav {
  display: flex;
  flex-direction: row;
}
nav a {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px;
  box-shadow: 5px 5px;
  background-color: rgb(225, 225, 225);
  transition-duration: 0.51s;
}
nav a:hover,
a:focus {
  color: #dedede;
  background-color: darkcyan;
}

.toggle {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column-reverse;
  background: url("../images/m_icon.png");
  background-size: cover;
  border: none;
  color: darkcyan;
  align-items: center;
}

.matrix-mode {
  background: url("../images/matrix.gif");
  color: white;
  list-style: white;
  
}
.matrix-mode p, .matrix-mode li{
  color: #ffffff;
}

.hero-banner {
  background-image: url(../images/computer.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 0 10px 0;
  height: 220px;
  display: flex;
  justify-content: flex-end;
}
.hero-banner img {
  height: 200px;
  border: solid;
  margin-right: 125px;
  border-radius: 8px;
  border-color: black;
}
.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: inset 5px;
  font-size: xx-large;
}
.page-section > div {
  flex: 0 0 77%;
}
.page-section p {
  margin-bottom: 20px;
}
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}
#About ul {
  color: black;
}

.first {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-item {
  grid-column: span 2;
  grid-row: span 2;
  border: solid 5px rgb(10, 10, 10);
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 250px;
  padding-top: 10px;
  color: rgb(10, 10, 10);
}
.grid-item div {
  background-color: rgb(209, 209, 241);
  /* background-image: ; */
  padding: 8px 10px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 200px;
}
.grid-item:first-child {
  grid-column: span 4;
  min-height: 300px;
  background-image: url(../images/Poke_Mart.png);
}
.imgDrink {
  grid-column: span 4;
  background-image: url(../images/Drinkology\ copy.png);
  min-height: 300px;
  width: 100%;
  background-size: cover;
}
.imgTech {
  background-image: url(../images/Tech_Blog.png);
  width: 100%;
  background-size: cover;
}
.imgTas {
  background-image: url(../images/Taskinator.png);
  width: 100%;
  background-size: cover;
}
.imgWork {
  background-image: url(../images/WorkDay.png);
  width: 100%;
  background-size: cover;
}
.imgWea {
  background-image: url(../images/ScreenShot.Weather.png);
  width: 100%;
  background-size: cover;
}
.imgPass {
  background-image: url(../images/Password.png);
  width: 100%;
  background-size: cover;
}
.imgFood {
  grid-column: span 4;
  background-image: url(../images/FoodnFun.png);
  width: 100%;
  background-size: cover;
  min-height: 300px;
}

div .bottom {
  justify-content: space-evenly;
}

span ul {
  display: flex;
}

span ul li {
  position: relative;
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

span ul li a:active,
span ul li a:visited {
  background-color: rgb(225, 225, 225);
}

span ul li a .fa {
  font-size: 4em;
  color: lightseagreen;
}

span ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 4.005em;
  height: 13px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
span ul li:nth-child(1)::before {
  content: "\f08c";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:nth-child(2)::before {
  content: "\f09b";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:nth-child(3)::before {
  content: "\f0e0";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:hover::before {
  height: 120%;
}

a .contact:hover {
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 8vw;
  }
  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }
  .page-section > h2 {
    border-right: none;
    border-bottom: 5px solid darkcyan;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}
@media screen and (max-width: 800px) {
  .grid-item,
  .grid-item:first-child {
    grid-column: 1 / -1;
  }
  .grid-container {
    grid-auto-rows: minmax(200px, 1fr);
  }
  .hero-banner {
    text-align: center;
  }
  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
