* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
}

body p {
  color: black;
}

header {
  background-color:rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70px;
}
header a {
  text-decoration: none;
  color: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
}
header h1 {
  font-weight: 50px;
  font-size: xx-large;
  margin: 10px 10px 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header nav {
  display: flex;
  align-items: center;
  list-style: none;
}
nav {
  display: flex;
  flex-direction: row;
}
nav a {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px;
  box-shadow: 5px 5px;
  background-color: rgb(225, 225, 225);
  transition-duration: 0.51s;
}
nav a:hover,
a:focus {
  color: #dedede;
  background-color: darkcyan;
}

.toggle {
  height: 50px;
  width: 50px;
  margin-left: 28px;
  margin-top: 5px;
  display: flex;
  background: url("../images/m_icon.png");
  background-size: cover;
  border: none;
  color: darkcyan;
}

.matrix-mode {
  background: url("../images/matrix.gif");
  color: white;
  list-style: white;
}
.matrix-mode p,
.matrix-mode li {
  color: #ffffff;
}

.holder {
  align-items: center;
  display: flex;
}

.selfie img{
  border:  solid thick;
  border-color: black;
  border-radius: 5px;
  height: 410px;
  z-index: 999;

}

.hero-banner {
  z-index: -1;
  height: 500px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform-origin: right;
  animation:  colorChange 5s linear infinite;
}
.reverse {
  transform-origin: left;
}
@keyframes colorChange {
  0% {
    filter:hue-rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    filter: hue-rotate(400deg);
    transform: rotate(360deg);
  }
}

.hero-banner span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}
.hero-banner span:before {
  content: '';
  position: absolute;
  top: 20%;
  left: -8px;
  width: 100px;
  height: 100px;
  background: #f00;
  border-radius:40%;
}
.hero-banner span:nth-child(3n + 1):before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1),
              0 0 40px rgba(134, 255, 0, 1),
              0 0 60px rgba(134, 255, 0, 1),
              0 0 80px rgba(134, 255, 0, 1),
              0 0 0 8px rgba(134, 255, 0, .1),
}
.hero-banner span:nth-child(3n + 2):before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1),
              0 0 40px rgba(255, 214, 0, 1),
              0 0 60px rgba(255, 214, 0, 1),
              0 0 80px rgba(255, 214, 0, 1),
              0 0 0 8px rgba(255, 214, 0, .1),
}
.hero-banner span:nth-child(3n + 3):before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1),
              0 0 40px rgba(0, 226, 255, 1),
              0 0 60px rgba(0, 226, 255, 1),
              0 0 80px rgba(0, 226, 255, 1),
              0 0 0 8px rgba(0, 226, 255, .1),
}
.hero-banner span:nth-child(3n + 1) {
  animation: animate 8s alternate infinite;
}
.hero-banner span:nth-child(3n + 2) {
  animation: animate-reverse 14s alternate infinite;
}
.hero-banner span:nth-child(3n + 3) {
  animation: animate 5s alternate infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1360deg);
  }
}


.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: inset 5px;
  font-size: xx-large;
}
.page-section > div {
  flex: 0 0 77%;
}
.page-section p {
  margin-bottom: 20px;
}
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}
#About ul {
  color: black;
}

.first {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-item {
  grid-column: span 2;
  grid-row: span 2;
  border: solid 5px rgb(10, 10, 10);
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 250px;
  padding-top: 10px;
  color: rgb(10, 10, 10);
  transition: 0.15s;
}

.grid-item:hover {
  transform: translateY(-10px);
}

.grid-item div {
  background-color: rgb(209, 209, 241);
  /* background-image: ; */
  padding: 8px 10px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 200px;
}
.grid-item:first-child {
  grid-column: span 4;
  min-height: 300px;
  background-image: url(../images/Poke_Mart.png);
}
.imgDrink {
  grid-column: span 4;
  background-image: url(../images/Drinkology\ copy.png);
  min-height: 300px;
  width: 100%;
  background-size: cover;
}
.imgTech {
  background-image: url(../images/Tech_Blog.png);
  width: 100%;
  background-size: cover;
}
.imgTas {
  background-image: url(../images/Taskinator.png);
  width: 100%;
  background-size: cover;
}
.imgWork {
  background-image: url(../images/WorkDay.png);
  width: 100%;
  background-size: cover;
}
.imgWea {
  background-image: url(../images/ScreenShot.Weather.png);
  width: 100%;
  background-size: cover;
}
.imgPass {
  background-image: url(../images/Password.png);
  width: 100%;
  background-size: cover;
}
.imgFood {
  grid-column: span 4;
  background-image: url(../images/FoodnFun.png);
  width: 100%;
  background-size: cover;
  min-height: 300px;
}

div .bottom {
  justify-content: space-evenly;
}

span ul {
  display: flex;
}

span ul li {
  position: relative;
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
}

span ul li a:active,
span ul li a:visited {
  background-color: rgb(225, 225, 225);
}

span ul li a .fa {
  font-size: 4em;
  color:rgba(0, 0, 0, 0.4);
}

span ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 4.005em;
  height: 13px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
span ul li:nth-child(1)::before {
  content: "\f08c";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:nth-child(2)::before {
  content: "\f09b";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:nth-child(3)::before {
  content: "\f0e0";
  color: cornflowerblue;
  border-bottom: 4px solid cornflowerblue;
  pointer-events: none;
}

span ul li:hover::before {
  height: 120%;
}

a .contact:hover {
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 8vw;
  }
  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }
  .page-section > h2 {
    border-right: none;
    border-bottom: 5px solid darkcyan;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}
@media screen and (max-width: 800px) {
  .grid-item,
  .grid-item:first-child {
    grid-column: 1 / -1;
  }
  .grid-container {
    grid-auto-rows: minmax(200px, 1fr);
  }
  .hero-banner {
    text-align: center;
  }
  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
